Host github.com
    User git
    VisualHostKey no

Host tomservo tomservo.local tomservo.localdomain
    User andrew
    ForwardX11 yes
    ForwardX11Trusted yes

@SSH_HOSTS@

Host *
    ForwardAgent yes
    TCPKeepAlive yes
    ServerAliveInterval 30
    ServerAliveCountMax 10
    VisualHostKey yes